<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlocNotas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BlocNotas.Properties.Settings>
            <setting name="word_wrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txt_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="txt_background" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="txt_mode" serializeAs="String">
                <value> CharacterCasing.Normal</value>
            </setting>
        </BlocNotas.Properties.Settings>
    </userSettings>
</configuration>